<!DOCTYPE html>
<html>

<head>
    <title>Editar Usuario</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="shortcut icon" href="../../resources/img/SIR.png" />
    <style>
        h2 {
            margin-top: 0;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        button[type="submit"] {
            display: block;
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: #0066ff;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #0052cc;
        }

        .hint {
            font-size: 14px;
            color: #999;
        }

        .error {
            color: red;
            font-size: 0.8rem;
        }

        .error-message {
            padding-bottom: 30px;
        }

        #password-meter {
            height: 60px;
            background-color: transparent;
            border-radius: 5px;
            position: relative;
        }

        .password-meter-bar {
            height: 2px;
            left: 0;
            background-color: #fb4e4e;
            border-radius: 5px;
            width: 0%;
            transition: width 0.5s;
        }

        .password-meter-label {
            position: absolute;
            top: 0px;
            color: #999;
            font-size: 14px;
        }

        .password-meter-bar-weak {
            width: 33%;
            background-color: #fb4e4e;
        }

        .password-meter-bar-medium {
            width: 66%;
            background-color: #fcc046;
        }

        .password-meter-bar-strong {
            width: 100%;
            background-color: #4ac24a;
        }

        #Con-pass {
            margin-top: -3px;
        }

        .toggle-password-button {
            top: 50px;
            right: 10px;
            transform: translateY(-50%);
            border-radius: 5px;
            border: none;
            background-color: #1f2029;
            color: #fff;
        }
    </style>
</head>

<body>
    <main class="content">
        <div class="container-fluid p-0">
            <% if (typeof User !="undefined" ) { %>
                <div class="card">
                    <div class="card-header">
                        <div class="input-group">
                            <h3 class="mb-0">
                                <strong>Editar Perfil:</strong> &nbsp;&nbsp;&nbsp;
                            </h3>
                        </div>
                        <span style="font-size: 12px">Los campos con <span class="text-danger">*</span> son
                            obligatorios.</span>
                    </div>
                    <div class="card-body">
                        <form action="/Perfil" method="POST" autocomplete="OFF" id="formulario">
                            <input type="hidden" name="id" id="id" value="<%=User.id %>">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-con">
                                        <label for="nombre">Nombre:</label>
                                        <input type="text" id="name" name="name" class="form-style"
                                            value="<%=User.name %>">
                                        <div class="error-message"></div>
                                    </div>
                                    <div class="form-con">
                                        <label for="apellidos">Apellidos:</label>
                                        <input type="text" id="surname" name="surname" class="form-style"
                                            value="<%=User.apellidos %>">
                                        <div class="error-message"></div>
                                    </div>
                                    <div class="form-con">
                                        <label for="phone">Teléfono:</label>
                                        <input type="text" id="phone" name="phone" class="form-style"
                                            value="<%=User.phone %>">
                                        <div class="error-message"></div>
                                    </div>
                                    <div class="form-con">
                                        <label for="username">Usuario:</label>
                                        <input type="text" id="username" name="username" class="form-style"
                                            value="<%=User.username %>">
                                        <input type="hidden" id="Con_username" name="" value="<%=User.username %>">
                                        <div class="error-message"></div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">

                                    <div class="form-con">
                                        <label for="email">Correo electrónico:</label>
                                        <input type="email" id="email" name="email" class="form-style"
                                            value="<%=User.email %>">
                                        <input type="hidden" id="Con_email" name="" value="<%=User.email %>">
                                        <div class="error-message"></div>
                                    </div>

                                    <div class="form-con" id="Pass">
                                        <label for="confirm-password">Contraseña Actual:</label>
                                        <input type="password" id="Con-Actual" name="Actual" class="form-style">
                                        <div class="error-message"></div>
                                    </div>

                                    <div class="form-con">
                                        <label for="password">Contraseña:</label>
                                        <input type="password" id="password" name="password" class="form-style" disabled>
                                        <div class="password-meter-bar"></div>
                                        <div class="error-message"></div>
                                    </div>

                                    <div class="form-con" id="Con-pass">
                                        <label for="confirm-password">Confirmar contraseña:</label>
                                        <input type="password" id="confirm-password" name="pswd" class="form-style" disabled>
                                        <div class="error-message"></div>
                                    </div>
                                    <div class="col-2">
                                        <button type="button" id="toggle-password" class="toggle-password-button"
                                            aria-label="Mostrar contraseña">
                                            <i class="far fa-eye"></i>
                                        </button>
                                    </div>
                                    <div class="password-meter" id="password-meter">
                                        <div class="password-meter-label"></div>
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <div class="d-flex align-items-center justify-content-end">
                                <button type="button" class="btn btn-primary btn-lg" id="save-btn">Guardar</button>
                            </div>
                            <input type="submit" value="" id="Submit">
                        </form>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#rol').val('<%=User.rol %>');
                    });
                </script>
                <% } %>
        </div>
    </main>


    <% if(typeof alert !="undefined" ){ %>
        <script>
            swal({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: '<%= showConfirmButton %>',
                timer: '<%= timer %>'
            }).then(() => {
                window.location = '/<%= ruta %>'
            })
        </script>
        <% } %>

            <script>

                $("#save-btn").click(() => {
                    if (validateForm()) {
                        swal({
                            title: "¿Todo Listo?",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                        })
                            .then((go) => {
                                if (go) {
                                    $("#Submit").click()
                                }
                            });
                    }
                })


                $('#Con-Actual').keyup(() => {
                    var Pass = $('#Con-Actual').val();
                    const id = $('#id').val();
                    fetch('/Perfil/Password?Pass=' + Pass + '&id=' + id + '').then((response) => {
                        return response.json()
                    }).then((data) => {
                        if (data.length > 0) {
                            $('#password').removeAttr("disabled");
                            $('#confirm-password').removeAttr("disabled");
                        }else{
                            $('#password').attr("disabled", true);
                            $('#confirm-password').attr("disabled", true);
                        }
                    })
                })

                $('#username').keyup(() => {
                    var username = $('#username').val();
                    const Con_username = $('#Con_username').val();
                    if (Con_username !== username) {
                        fetch('/NewUser/username?username=' + username + '').then((response) => {
                            return response.json()
                        }).then((data) => {
                            if (data.length > 0) {
                                swal({
                                    title: "Error",
                                    text: "Este usuario ya se encuentra registrado, por favor ingrese un usuario diferente. ",
                                    icon: "error",
                                    showConfirmButton: true
                                })
                            }
                        })
                    }
                })

                $('#email').keyup(() => {
                    var email = $('#email').val();
                    const Con_email = $('#Con_email').val();
                    if (Con_email !== email) {
                        fetch('/NewUser/email?email=' + email + '').then((response) => {
                            return response.json()
                        }).then((data) => {
                            if (data.length > 0) {
                                swal({
                                    title: "Error",
                                    text: "Este correo ya se encuentra registrado, por favor ingrese un correo diferente. ",
                                    icon: "error",
                                    showConfirmButton: true
                                })
                            }
                        })
                    }
                })


                const formulario = document.getElementById('formulario');
                const passwordInput = document.getElementById('password');
                const confirmPasswordInput = document.querySelector('#confirm-password');
                const conActual = document.querySelector('#Con-Actual');
                const passwordMeterBar = document.querySelector('.password-meter-bar');
                const passwordMeterLabel = document.querySelector('.password-meter-label');
                const togglePasswordButton = document.querySelector('#toggle-password');

                function calculatePasswordStrength(password) {
                    const passwordLength = password.length;

                    if (passwordLength == 0) {
                        return '';
                    }

                    if (passwordLength < 5) {
                        return 'weak';
                    }

                    if (passwordLength < 8) {
                        if (/[a-z]/.test(password) && /[A-Z]/.test(password) && /\d/.test(password)) {
                            return 'medium';
                        }
                    }

                    if (passwordLength >= 8) {
                        if (/[a-z]/.test(password) && /[A-Z]/.test(password) && /\d/.test(password) && /\W/.test(password)) {
                            return 'strong';
                        } else if ((/[a-z]/.test(password) && /[A-Z]/.test(password) && /\d/.test(password)) || (/[a-z]/.test(password) && /[A-Z]/.test(password) && /\W/.test(password)) || (/[a-z]/.test(password) && /\d/.test(password) && /\W/.test(password)) || (/[A-Z]/.test(password) && /\d/.test(password) && /\W/.test(password))) {
                            return 'medium';
                        }
                    }

                    return 'weak';
                }


                passwordInput.addEventListener('input', () => {
                    const password = passwordInput.value;
                    const passwordStrength = calculatePasswordStrength(password);

                    switch (passwordStrength) {
                        case 'weak':
                            passwordMeterBar.classList.remove('password-meter-bar-medium');
                            passwordMeterBar.classList.remove('password-meter-bar-strong');
                            passwordMeterBar.classList.add('password-meter-bar-weak');
                            passwordMeterLabel.textContent = 'La contraseña es demasiado débil. Debe tener al menos 8 caracteres y contener letras, números y símbolos.';
                            passwordMeterLabel.style.color = '#fb4e4e';
                            break;
                        case 'medium':
                            passwordMeterBar.classList.remove('password-meter-bar-weak');
                            passwordMeterBar.classList.remove('password-meter-bar-strong');
                            passwordMeterBar.classList.add('password-meter-bar-medium');
                            passwordMeterLabel.textContent = 'La contraseña es un poco débil. Debe tener al menos 8 caracteres y contener letras, números y símbolos.';
                            passwordMeterLabel.style.color = '#fcc046';
                            break;
                        case 'strong':
                            passwordMeterBar.classList.remove('password-meter-bar-weak');
                            passwordMeterBar.classList.remove('password-meter-bar-medium');
                            passwordMeterBar.classList.add('password-meter-bar-strong');
                            passwordMeterLabel.textContent = 'La contraseña es segura.';
                            passwordMeterLabel.style.color = '#4ac24a';
                            break;
                        default:
                            passwordMeterBar.classList.remove('password-meter-bar-weak');
                            passwordMeterBar.classList.remove('password-meter-bar-medium');
                            passwordMeterBar.classList.remove('password-meter-bar-strong');
                            passwordMeterLabel.textContent = '';
                    }
                });

                function validateForm() {
                    let isValid = true;

                    const nombreInput = document.getElementById('name');
                    const apellidosInput = document.getElementById('surname')
                    const telefonoInput = document.getElementById('phone');
                    const usuarioInput = document.getElementById('username');
                    const emailInput = document.getElementById('email');
                    const passwordInput = document.getElementById('password');
                    const confirmPasswordInput = document.getElementById('confirm-password');
                    const nombreValue = nombreInput.value.trim();
                    const apellidosValue = apellidosInput.value.trim();
                    const telefonoValue = telefonoInput.value.trim();
                    const usuarioValue = usuarioInput.value.trim();
                    const emailValue = emailInput.value.trim();
                    const passwordValue = passwordInput.value;
                    const confirmPasswordValue = confirmPasswordInput.value;

                    if (nombreValue === '') {
                        showError(nombreInput, 'El nombre es obligatorio');
                        isValid = false;
                    } else {
                        showSuccess(nombreInput);
                    }

                    if (apellidosValue === '') {
                        showError(apellidosInput, 'Los apellidos son obligatorios');
                        isValid = false;
                    } else {
                        showSuccess(apellidosInput);
                    }

                    if (telefonoValue === '') {
                        showError(telefonoInput, 'El teléfono es obligatorio');
                        isValid = false;
                    } else if (!isValidPhoneNumber(telefonoValue)) {
                        showError(telefonoInput, 'El teléfono no es válido');
                        isValid = false;
                    } else {
                        showSuccess(telefonoInput);
                    }

                    if (usuarioValue === '') {
                        showError(usuarioInput, 'El usuario es obligatorio');
                        isValid = false;
                    } else {
                        showSuccess(usuarioInput);
                    }

                    if (emailValue === '') {
                        showError(emailInput, 'El correo electrónico es obligatorio');
                        isValid = false;
                    } else if (!isValidEmail(emailValue)) {
                        showError(emailInput, 'El correo electrónico no es válido');
                        isValid = false;
                    } else {
                        showSuccess(emailInput);
                    }

                    if (passwordValue !== '') {

                        if (!isValidPassword(passwordValue)) {
                            showError(passwordInput, 'La contraseña no cumple con los criterios mínimos de seguridad.');
                            isValid = false;
                        } else {
                            showSuccess(passwordInput);
                        }

                        if (confirmPasswordValue === '') {
                            showError(confirmPasswordInput, 'Confirma la contraseña');
                            isValid = false;
                        } else if (passwordValue !== confirmPasswordValue) {
                            showError(confirmPasswordInput, 'Las contraseñas no coinciden');
                            isValid = false;
                        } else {
                            showSuccess(confirmPasswordInput);
                        }
                    }

                    return isValid;
                }

                function showError(input, message) {
                    const formCon = input.parentElement;
                    const errorElement = formCon.querySelector('.error-message');
                    formCon.classList.remove('success');
                    errorElement.classList.add('error');
                    errorElement.textContent = message;
                }

                function showSuccess(input) {
                    const formCon = input.parentElement;
                    const errorElement = formCon.querySelector('.error-message');
                    errorElement.classList.remove('error');
                    formCon.classList.add('success');
                    errorElement.textContent = '';
                }

                function isValidPhoneNumber(phoneNumber) {
                    const regex = /^(\+?57)?\s*([0-9]{7,10})$/;
                    return regex.test(phoneNumber);
                }

                function isValidEmail(email) {
                    const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                    return regex.test(email);
                }

                function isValidPassword(password) {
                    const hasNumber = /\d/;
                    const hasUpper = /[A-Z]/;
                    const hasLower = /[a-z]/;
                    const hasSpecial = /[!@#$%^&*(),.?":{}|<>]/;
                    const hasSpace = /\s/;
                    return (
                        password.length >= 8 &&
                        !hasSpace.test(password) &&
                        hasNumber.test(password) &&
                        hasUpper.test(password) &&
                        hasLower.test(password) &&
                        hasSpecial.test(password)
                    );
                }

                togglePasswordButton.addEventListener('click', function () {
                    const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                    passwordInput.setAttribute('type', type);
                    confirmPasswordInput.setAttribute('type', type);
                    conActual.setAttribute('type', type);
                    togglePasswordButton.querySelector('i').classList.toggle('fa-eye-slash');
                });

                $("#Layout_NuevaReserva").attr("href", "../../Reservas/NuevaReserva");
                $("#Layout_VerReservas").attr("href", "../../Reservas/VerReservas");
                $("#Layout_NuevoTransfer").attr("href", "../../Transfer/NuevoTransfer");
                $("#Layout_VerTransfer").attr("href", "../../Transfer/VerTransfer");
                $("#Layout_NuevoTour").attr("href", "../../Tours/NuevoTour");
                $("#Layout_VerTours").attr("href", "../../Tours/VerTours");
                $("#Layout_NuevoPunto").attr("href", "../../Puntos/NuevoPunto");
                $("#Layout_VerPuntos").attr("href", "../../Puntos/VerPuntos");
                $("#Layout_OrdenarPuntos").attr("href", "../../Puntos/OrdenarPuntos");
                $("#Layout_Listado").attr("href", "../../Programacion/Listado");
                $("#Layout_Confirmacion").attr("href", "../../Programacion/Confirmacion");
                $("#Layout_Comisiones").attr("href", "../../Comisiones/Comisiones");
                $("#Layout_Seguros").attr("href", "../../Seguros/Seguros");
                $("#Layout_AdminUsers").attr("href", "../../Settings/AdminUsers");
                $("#Layout_NewUser").attr("href", "../../Settings/NewUser");
$("#Layout_Perfil").attr("href", "../../Settings/Perfil/<% if(typeof user !='undefined' ){ %><%= user.id %> <% } %>");
                $("#Layout_Img").attr("src", "../../resources/img/LogoMaxitoursPNG.png")


            </script>

</body>

</html>