<!DOCTYPE html>
<html lang="es">

<head>
    <title>Nuevo Punto</title>
</head>
<main class="content">
    <div class="container-fluid p-0">
        <div class="container">
            <div class="card">
                <form action="/NuevoPunto" method="post" autocomplete="OFF">
                    <div class="card-header">
                        <div class="input-group">
                            <h3 class="mb-0"><strong>Nuevo punto de encuentro:</strong></h3>
                        </div>
                        <input type="hidden" name="Id_Punto" id="Id_Punto">
                        <span style="font-size:12px">Los campos con <span class="text-danger">*</span> son
                            obligatorios.</span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="NombreTourCrear" class="FormNewTour">Nombre<span
                                        class="text-danger">*</span></label>
                                <input type="text" name="NombrePunto" id="NombrePunto" class="form-style mayusculas "
                                    placeholder="Nombre del Punto" required="required">
                            </div>
                            <div class="col-md-3">
                                <label for="Sector" class="FormNewTour">Sector</label>
                                <input type="text" name="Sector" id="Sector" placeholder="Sector" class="form-style mayusculas ">
                            </div>
                            <div class="col-md-3">
                                <label for="Ruta" class="FormNewTour">Ruta</label>
                                <input type="text" name="Ruta" id="Ruta" placeholder="Ruta" class="form-style mayusculas ">
                            </div>
                        </div>
                        <br><br>
                        <div>
                            <h3 class="mb-0"><strong>Datos de Ubicación</strong> &nbsp;</h3>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="Ruta" class="FormNewTour">Latitud</label>
                                <input type="text" name="Latitud" id="Latitud" placeholder="Latitud" class="form-style mayusculas ">
                            </div>
                            <div class="col-md-3">
                                <label for="Ruta" class="FormNewTour">Longitud</label>
                                <input type="text" name="Longitud" id="Longitud" placeholder="Longitud"
                                    class="form-style mayusculas ">
                            </div>
                        </div>
                        <br><br>
                        <div>
                            <h3 class="mb-0"><strong>Horarios y Rutas</strong> &nbsp;</h3>
                        </div>
                        <br>
                        <% if (typeof resultsTours !="undefined" ){ resultsTours.forEach((Tours)=>{ %>
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="hidden" value="<%= Tours.Id_Tour %>" name="Id_Tour[]">
                                    <input type="text" value="<%= Tours.NombreTour %>" id="NombreTour"
                                        class="form-style mayusculas " disabled>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-style mayusculas " placeholder="Hora de Salida"
                                            aria-label="Salida" name="HoraSalida[]">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-style mayusculas " placeholder="Hora de Llegada"
                                            aria-label="Llegada" name="HoraLlegada[]">
                                    </div>
                                </div>
                            </div>
                            <% }) } %>
                                <hr>
                                <br>
                                <div class="d-flex align-items-center justify-content-end">
                                    <button type="button" class="btn btn-primary btn-lg" id="save-btn">Guardar</button>
                                </div>
                                <input type="submit" value="" id="Submit">
                </form>
            </div>
        </div>
    </div>
    </div>
</main>

<% if(typeof alert !="undefined" ){ %>
    <script>
        swal({
            title: '<%= alertTitle %>',
            text: '<%= alertMessage %>',
            icon: '<%= alertIcon %>',
            showConfirmButton: '<%= showConfirmButton %>',
            timer: '<%= timer %>'
        }).then(() => {
            window.location = '/<%= ruta %>'
        })
    </script>
    <% } %>

        <script>

            $("#save-btn").click(() => {
                swal({
                    title: "¿Todo Listo?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((go) => {
                        if (go) {
                            $("#Submit").click()
                        }
                    });
            })

            $(document).ready(() => {
                fetch('/Puntos/Id_Punto').then((response) => {
                    return response.json();
                }).then((Id) => {
                    if (Id != null) {
                        $("#Id_Punto").val(Id);
                    }
                })
            })

            $(document).ready(function () {
                $("form").keypress(function (e) {
                    if (e.which == 13) {
                        return false;
                    }
                });
            });
        </script>
        </body>

</html>