<!DOCTYPE html>
<html lang="es">

<head>
    <title>Ver Puntos de encuentro</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
</head>

<body>
    <main class="content">
        <div class="container container-fluid p-0">
            <div class="card">
                <div class="card-header">
                    <div class="input-group">
                        <h3 class="mb-0"><strong>Puntos de encuentro</strong></h3>
                    </div>
                    <button id="exportarPuntosRuta" class="btn btn-primary">Exportar Excel</button>
                </div>
                <div class="card-body table-responsive">
                    <table id="Puntos" class="table table-striped table-hover table-dark">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Sector</th>
                                <th>Ruta</th>
                                <% if (typeof resultsTours !=="undefined" ) { resultsTours.forEach((Tours)=> { %>
                                    <th>
                                        <%= Tours.NombreTour %>
                                    </th>
                                    <% }) } %>
                                        <th>Editar</th>
                                        <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (typeof resultsPuntos !=="undefined" ) { resultsPuntos.forEach((Puntos)=> { %>
                                <tr id="<%= Puntos.Id_Punto %>">
                                    <td>
                                        <%= Puntos.NombrePunto %>
                                    </td>
                                    <td>
                                        <%= Puntos.Sector %>
                                    </td>
                                    <td>
                                        <%= Puntos.Ruta %>
                                    </td>
                                    <% if (typeof resultsTours !== "undefined") { resultsTours.forEach((Tours) => { %>
                                        <td>
                                            <% if (Puntos.HorasPorTour && Puntos.HorasPorTour[Tours.Id_Tour]) { %>
                                                <%= Puntos.HorasPorTour[Tours.Id_Tour] %>
                                            <% } else { %>
                                                No disponible
                                            <% } %>
                                        </td>
                                        <% }) } %>
                                    <td><a href="../Puntos/EditarPunto/<%= Puntos.Id_Punto %>"
                                            class="edit"><iconify-icon icon="material-symbols:edit"
                                                style="color: white;" width="30" height="30"></iconify-icon></a></td>
                                    <td><a type="button" class="delete" id="delete<%= Puntos.Id_Punto %>"><iconify-icon
                                                icon="material-symbols:delete-outline" style="color: white;" width="30"
                                                height="30"></iconify-icon></a></td>
                                    <script>
                                        $("#delete<%= Puntos.Id_Punto %>").click(() => {
                                            swal({
                                                title: "¿Seguro desea eliminar <%= Puntos.NombrePunto  %>?",
                                                icon: "warning",
                                                buttons: true,
                                                dangerMode: true,
                                            }).then((go) => {
                                                if (go) {
                                                    deletePunto('<%= Puntos.Id_Punto %>', '<%= Puntos.NombrePunto %>')
                                                }
                                            });
                                        })
                                    </script>
                                </tr>
                                <% }) } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <script>
        $(document).ready(function () {
            // Configuración de DataTables con búsqueda
            $('#Puntos').DataTable({
                "searching": true
            });
        });

        deletePunto = (Id_Punto, NombrePunto) => {
            fetch('/Puntos/DeletePunto?Id_Punto=' + Id_Punto + '').then(response => {
                response.json();
            }).then((res) => {
                if (res == 'error') {
                    swal({
                        title: "Ocurrió un error",
                        text: "No fue posible eliminar el punto de encuentro, Si el error continúa, comuníquese con soporte técnico.",
                        icon: "error",
                        buttons: true,
                        dangerMode: true,
                    })
                } else {
                    swal({
                        text: NombrePunto + "se ha eliminado correctamente.",
                        icon: "success",
                        buttons: true,
                        dangerMode: true,
                        timer: 1500
                    }).then(() => {
                        $('#' + Id_Punto + '').remove();
                        console.log(Id_Punto);
                    })

                }
            })
        }

        document.getElementById('exportarPuntosRuta').addEventListener('click', async () => {
        try {
            const response = await fetch('/Puntos/Exportar', { method: 'GET' });

            if (!response.ok) {
                throw new Error('Error al descargar el archivo');
            }

            const blob = await response.blob();
            const contentDisposition = response.headers.get('Content-Disposition');
            const match = contentDisposition && contentDisposition.match(/filename="(.+)"/);
            const fileName = match ? match[1] : 'PuntosRuta.xlsx';

            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = fileName;
            document.body.appendChild(a);
            a.click();
            a.remove();
            window.URL.revokeObjectURL(url);

            swal({
                title: "Descarga Exitosa",
                text: `El archivo ${fileName} ha sido descargado correctamente.`,
                icon: "success",
            });
        } catch (error) {
            console.error('Error al descargar el archivo:', error);
            swal({
                title: "Error",
                text: "Ocurrió un error al descargar el archivo. Intenta nuevamente.",
                icon: "error",
            });
        }
    });
    </script>
</body>

</html>